<ion-view title="Entrevistado">

  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button ng-click="locate();" class="button button-icon icon ion-pinpoint"></button>
  </ion-nav-buttons>

  <ion-content data-tap-disabled="true">

    <ion-content class="padding">

    <form name="infoForm" ng-submit="step1()">

      <div class="list">
        <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre</span>
        <input type="text" ng-model="newInterviewer.name" ng-minlength="1" ng-maxlength="100" placeholder="Ej: José">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Teléfono</span><br>
        <input type="tel" ng-model="newInterviewer.tlf" ng-minlength="1" ng-maxlength="100"  placeholder="Ej: 0987755739" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Dirección</span><br>
        <input type="text" ng-model="newInterviewer.direccion" ng-minlength="1" ng-maxlength="100" placeholder="Ej: Av Rabida N55" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Correo electrónico</span><br>
        <input type="email" ng-model="newInterviewer.email" ng-minlength="1" ng-maxlength="100" placeholder="Ej: jose@gmail.com">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Cargo dentro de la organización</span><br>
        <input type="text" ng-model="newInterviewer.cargo" ng-minlength="1" ng-maxlength="100" placeholder="Ej: Gerente">
      </label>
    </div>

      <div class="padding">

        <button class="button button-block button-balanced" ng-disabled="infoForm.$invalid">Save Location</button>

      </div>

    </form>

  </ion-content>

  </ion-content>

</ion-view>
